@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header-top-section {
	background: #1abc9c;
}

.material-icons.md-14 {
	font-size: 14px;
}

.header-top-wrapper {
	display: flex;
	justify-content: space-around;
}

.header-top-wrapper ul {
	list-style: none;
}

.header-top-wrapper ul li {
	float: left;
	padding: 9px 15px 9px 0;
}

.header-top-wrapper ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}

.header-section {
	padding-top: 16px;
	padding-bottom: 16px;
}

.header-section a {
	text-decoration: none;
}

.header-navbar-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-navbar-wrapper ul {
	list-style: none;
}

.header-navbar-wrapper ul li {
	float: left;
}

.header-navbar .header-logo b {
	color: #1abc9c;
}

.header-navbar .header-logo a {
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	color: #555252;
}

.header-navbar li a {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0101;
}

.header-navbar .header-nav ul li.active a,
.header-navbar ul li a:hover {
	color: #1abc9c;
}

.header-navbar .header-cart .shoping-cart {
	color: #1abc9c;
}

.header-logo {
	padding: 4.5px 15px;
}

.header-nav ul li {
	padding: 20px;
}

.header-cart ul li {
	padding: 25px 20px 15px 20px;
}